.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Navigation Bar Styling */
nav {
  background-color: #a6a94f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: white;
}


/* Page Content Styling */
h2,
h1,
h3,
img {
  display: inline;
  margin: 20px;
}
img{
  width: 10em;
}
h1{
  font-size: x-large;
}
p, input{
  margin: 20px;
}